/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  height: 100vh;
}

body {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
}

.main-pic {
  height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-grow: 1;
  /* justify-content: center; */
}

.header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: lightgrey;
  box-shadow: 1px 1px 8px #888888;
}

h2 {
  font-size: 1.2rem;
  white-space: pre-line;
  /* margin-left: 40px; */
  margin: 5% 5%;
}

.form-content {
  flex-grow: 1;
  background-color: silver;

}

form {
  background-color: silver;
  box-shadow: 1px 1px 8px #888888;
}

fieldset {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  gap: 30px;
  border: none;
  margin-left: 5%;

  /* justify-content: center; */
}

.footer {
  /* display: flex; */
  /* flex-direction: column; */
  flex-grow: 1;
  background-color: lightgrey;
  box-shadow: 1px 1px 8px #888888;
  /* flex-grow: 1; */
}

button {
  color: lightgrey;
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  box-shadow: 1px 1px 8px #888888;
  margin: 2% 5%;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px 8px black;
}

p {
  margin: 0 5%;
}


#left-forms {
  /* min-width: 0px; */
  /* display: flex; */
  /* align-items: center */
}

label {
  display: block;
}

.left {
  display: flex;
  /* flex-direction: row; */
}